<div class="jumbotron">
    <h1>Pumped</h1>
    <p class="lead">Admin panel to control the configuration</p>
    <p><a href="@Url.Action("Index", "Settings")" class="btn btn-primary btn-lg">Change Settings</a></p>
    <p><a href="@Url.Action("Index", "ContibutionUsers")" class="btn btn-primary btn-lg">View Contributions</a></p>
</div>
