<style>
    body.modal-open {
        overflow: auto !important;
    }

    body.modal-open[style] {
        padding-right: 0px !important;
    }


    .bs-wizard {margin-top: 40px;}

    /*Form Wizard*/
    .bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
    .bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
    .bs-wizard > .bs-wizard-step + .bs-wizard-step {}
    .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
    .bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
    .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
        position: absolute; width: 30px; height: 30px; display: block; background: #9ca3ee; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

    .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
        content: ' '; width: 14px; height: 14px; background: #4d59e4;
        -ms-border-radius: 50px;
        border-radius: 50px; position: absolute; top: 8px; left: 8px;
    }

    .bs-wizard > .bs-wizard-step > .progress {
        position: relative;
        -ms-border-radius: 0px;
        border-radius: 0px; height: 8px; box-shadow: none; margin: 17px 0;
    }

    .bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #9ca3ee;}
    .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
    .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
    .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
    .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
    .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
    .bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
    .bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
    .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
</style>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                    <div class="row bs-wizard" style="border-bottom:0;">

                        <div class="col-xs-3 bs-wizard-step active step1">
                            <div class="text-center bs-wizard-stepnum">Step 1</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"><label class="label label-multra">ACCEPT TERMS</label></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step step2">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 2</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"><label class="label label-multra">ENTER DATA</label></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step step3">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Step 3</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"><label class="label label-multra">CONTRIBUTION</label></div>
                        </div>

                        <div class="col-xs-3 bs-wizard-step step4">
                            <!-- active -->
                            <div class="text-center bs-wizard-stepnum">Step 4</div>
                            <div class="progress"><div class="progress-bar"></div></div>
                            <a href="#" class="bs-wizard-dot"></a>
                            <div class="bs-wizard-info text-center"><label class="label label-multra">BUY TOKEN</label></div>
                        </div>
                    </div>
                    
                    
                    

                    @*<ul class="timeline timeline-horizontal">
                                <li class="timeline-item 1">
                                    <div class="timeline-badge multra">1</div>
                                    <div class="sub-text label label-multra">ACCEPT TERMS</div>
                                </li>
                                <li class="timeline-item 2">
                                    <div class="timeline-badge multra">2</div>
                                    <div class="sub-text label label-multra label2">ENTER DATA</div>
                                </li>
                                <li class="timeline-item 3">
                                    <div class="timeline-badge multra">3</div>
                                    <div class="sub-text label label-multra label3" style="left: 9px">CONTRIBUTION</div>
                                </li>
                                <li class="timeline-item 4">
                                    <div class="timeline-badge multra">4</div>
                                    <div class="sub-text label label-multra label4" style="left: 20px">BUY TOKEN</div>
                                </li>
                            </ul>*@
                </div>
            </div>
            <div id="step1" class="modal-body">
                <h3 class="text-center">Step 1</h3>
                <h3 class="text-center"><label class="label label-multra text-uppercase">Accept terms</label></h3>
                <br />
                @*<h5 class="text-center">Please read our terms <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">here</a></h5>*@

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and accept the <a class="btn-link" href="http://itoguide.multra-gmbh.com" target="_blank">Participation Guide.</a></span>
                        <span class="hidden-md hidden-lg">I read the <a class="btn-link" href="http://itoguide.multra-gmbh.com" target="_blank">Participation Guide.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">KYC and AML Policy.</a></span>
                        <span class="hidden-md hidden-lg">I accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">KYC and AML Policy.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Terms and Conditions.</a></span>
                        <span class="hidden-md hidden-lg">I accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Terms and Conditions.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Offer Document.</a></span>
                        <span class="hidden-md hidden-lg">I agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Offer Document.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Risk Factors in Exhibit A.</a></span>
                        <span class="hidden-md hidden-lg">I accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Risk Factors in Exhibit A.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">General Privacy Policy.</a></span>
                        <span class="hidden-md hidden-lg">I accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">General Privacy Policy.</a></span>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        <span class="hidden-sm hidden-xs">I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Exchange Agreement.</a></span>
                        <span class="hidden-md hidden-lg">I accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Exchange Agreement.</a></span>
                    </label>
                </div>
                <button type="submit" id="proceed" class="btn btn-multra btn-block btn-lg">Accept <i class="fa fa-arrow-right"></i></button>

            </div>
            <form class="form-horizontal" id="myform">
                <div id="step2" class="modal-body hidden">
                    <h3 class="text-center">Step 2</h3>
                    <h3 class="text-center"><label class="label label-multra text-uppercase">Enter Data</label></h3>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">First Name</label>
                            <input required="" tabindex="1" placeholder="Your first name here..." class="form-control input-sm" type="text" name="firstName" id="FirstName" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Last Name</label>
                            <input required="" tabindex="2" placeholder="Your last name here..." class="form-control input-sm" type="text" name="lastName" id="LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Email</label>
                            <input required="" tabindex="3" placeholder="Your email here..." class="form-control input-sm" type="email" name="email" id="email" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Phone</label>
                            <input required="" tabindex="4" placeholder="Your phone here..." class="form-control input-sm" type="text" name="phone" id="phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Gender</label>
                            <br />
                            <label class="radio-inline">
                                <input checked="checked" tabindex="5" type="radio" name="Gender" id="Male" value="Male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" tabindex="6" name="Gender" id="Female" value="Female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Nationality</label>
                            <input required="" tabindex="7" placeholder="Your nationality here..." class="form-control input-sm" type="text" name="Nationality" id="Nationality" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">State of residence</label>
                            <input required="" tabindex="8" placeholder="Your state of residence here..." class="form-control input-sm" type="text" name="state" id="state" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Passport/ID</label>
                            <input required="" tabindex="9" placeholder="Your passport or ID card number here..." class="form-control input-sm" type="text" name="nic" id="nic" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Document (ID/Passport)</label>
                            <input type="file" class="hidden" id="userFile" accept="application/pdf, image/*" />
                            <div class="input-group input-group-sm">
                                <input type="text" tabindex="10" id="fileHolder" readonly="readonly" class="form-control input-sm" placeholder="upload passport copy(.jpg,.png,.pdf)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="$('#userFile').click()">
                                        <i class="fa fa-file"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" tabindex="11" id="proceed2" class="btn btn-multra btn-lg btn-block">Proceed <i class="fa fa-arrow-right"></i></button>

                </div>
            </form>
            <form class="form-horizontal" id="form2">
                <div id="step3" class="modal-body hidden">
                    <h3 class="text-center">Step 3</h3>
                    <h3 class="text-center"><label class="label label-multra text-uppercase">Contribution</label></h3>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Your ETH Wallet Adress</label>
                            <input required="" tabindex="1" name="walletAddress" id="walletAddress" placeholder="Your ETH Wallet Adress" class="form-control input-sm" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Currency</label>
                            <br />
                            <label class="radio-inline">
                                <input checked="checked" required="" type="radio" name="Currency" id="ETH" value="ETH"> ETH
                            </label>
                            @*<label class="radio-inline">
                                    <input required="" type="radio" name="Currency" id="BTC" value="BTC"> BTC
                                </label>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Amount you want to send</label>
                            <input type="number" min="0" inputmode="numeric" pattern="[0-9]*" required="" onkeypress="return validatenumerics(event, this);" id="amount" name="amount" class="form-control input-sm" placeholder="Amount to contribute">
                        </div>
                    </div>
                    <button type="button" class="btn btn-multra btn-lg btn-block" id="proceed3">Next <i class="fa fa-arrow-right"></i></button>

                </div>
            </form>
            <div id="step4" class="modal-body hidden">
                <h4 class="text-center" id="finalDialog">Please wait... Processing</h4>
                <div class="text-center">
                    <button type="submit" id="finishButton" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Finish <i class="fa fa-arrow-up"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>


