<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buy Tokens</h4>
            </div>
            <form class="form-horizontal" id="myform">
                <div id="step1" class="modal-body">
                    <h2 class="text-center">Welcome to pumped.</h2>
                    <h3>Step 1:</h3>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">First Name</label>
                            <input required="" placeholder="Your first name here..." class="form-control" type="text" name="firstName" id="FirstName" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Last Name</label>
                            <input required="" placeholder="Your last name here..." class="form-control" type="text" name="lastName" id="LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Email</label>
                            <input required="" placeholder="Your email here..." class="form-control" type="email" name="email" id="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Gender</label>
                            <br/>
                            <label class="radio-inline">
                                <input checked="checked" type="radio" name="Gender" id="Male" value="Male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" id="Female" value="Female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Nationality</label>
                            <input required="" placeholder="Your Nationality here..." class="form-control" type="text" name="Nationality" id="Nationality" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Passport/ID</label>
                            <input placeholder="Your passport or ID card number here..." class="form-control" type="text" name="nic" id="nic" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label">Document (ID/Passport)</label>
                            <input type="file" class="hidden" id="userFile" accept="application/pdf, image/*" />
                            <div class="input-group">
                                <input type="text" id="fileHolder" readonly="readonly" class="form-control" placeholder="Please select a file (.jpg, .png, .pdf)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="$('#userFile').click()">
                                        <i class="fa fa-file"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="proceed" class="btn btn-primary">Proceed <i class="fa fa-arrow-right"></i></button>

                </div>

                <div id="step2" class="modal-body hidden">
                    <p class="text-center">Generate Tokens</p>
                    <h3>Step 2:</h3>

                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Wallet Address</label>
                            <input required="" name="walletAddress" id="walletAddress" placeholder="your wallet address" class="form-control" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Currency</label>
                            <label class="radio-inline">
                                <input checked="checked" required="" type="radio" name="Currency" id="ETH" value="ETH"> ETH
                            </label>
                            <label class="radio-inline">
                                <input required="" type="radio" name="Currency" id="BTC" value="BTC"> BTC
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Amount</label>
                            <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="number" required="" id="amount" name="amount" class="form-control" placeholder="Amount to contribute">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-warning" id="proceed2">Next <i class="fa fa-arrow-circle-o-right"></i></button>

                </div>
            </form>
            <div id="step3" class="modal-body hidden">
                <h2 class="text-center" id="finalDialog">Please wait... Processing</h2>
                <div class="text-center">
                    <button type="submit" id="finishButton" class="btn btn-success" data-dismiss="modal">Finish <i class="fa fa-arrow-up"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>


