<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="row">
                    <div class="col-md-12">
                        <div style="display:inline-block;width:100%;overflow-y:auto;">
                            <ul class="timeline timeline-horizontal">
                                <li class="timeline-item 1">
                                    <div class="timeline-badge multra">1</div>
                                    <div class="sub-text label label-multra">ACCEPT TERMS</div>
                                </li>
                                <li class="timeline-item 2">
                                    <div class="timeline-badge multra">2</div>
                                    <div class="sub-text label label-multra" style="left: 18px">ENTER DATA</div>
                                </li>
                                <li class="timeline-item 3">
                                    <div class="timeline-badge multra">3</div>
                                    <div class="sub-text label label-multra" style="left: 9px">CONTRIBUTION</div>
                                </li>
                                <li class="timeline-item 4">
                                    <div class="timeline-badge multra">4</div>
                                    <div class="sub-text label label-multra" style="left: 20px">BUY TOKEN</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step1" class="modal-body">
                <h3 class="text-center">Step 1</h3>
                <h3 class="text-center"><label class="label label-multra">Accept terms</label></h3>
                <br />
                @*<h5 class="text-center">Please read our terms <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">here</a></h5>*@

                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Participation Guide.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">KYC and AML Policy.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Terms and Conditions.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and agree to the the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Offer Document.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and accept the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Risk Factors in Exhibit A.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">General Privacy Policy.</a>
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">
                        I have read and agree to the <a class="btn-link" href="http://ito.multra-gmbh.com" target="_blank">Token Exchange Agreement.</a>
                    </label>
                </div>
                <button type="submit" id="proceed" class="btn btn-multra btn-block btn-lg">Accept <i class="fa fa-arrow-right"></i></button>

            </div>
            <form class="form-horizontal" id="myform">
                <div id="step2" class="modal-body hidden">
                    <h3 class="text-center">Step 2</h3>
                    <h3 class="text-center"><label class="label label-multra">Enter Data</label></h3>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">First Name</label>
                            <input required="" placeholder="Your first name here..." class="form-control input-sm" type="text" name="firstName" id="FirstName" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Last Name</label>
                            <input required="" placeholder="Your last name here..." class="form-control input-sm" type="text" name="lastName" id="LastName" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Email</label>
                            <input required="" placeholder="Your email here..." class="form-control input-sm" type="email" name="email" id="email" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Phone</label>
                            <input required="" placeholder="Your Phone here..." class="form-control input-sm" type="text" name="phone" id="phone" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Gender</label>
                            <br />
                            <label class="radio-inline">
                                <input checked="checked" type="radio" name="Gender" id="Male" value="Male"> Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" id="Female" value="Female"> Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Nationality</label>
                            <input required="" placeholder="Your Nationality here..." class="form-control input-sm" type="text" name="Nationality" id="Nationality" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">State of residence</label>
                            <input required="" placeholder="Your State of residence here..." class="form-control input-sm" type="text" name="state" id="state" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <label class="control-label requiredLabel">Passport/ID</label>
                            <input required="" placeholder="Your passport or ID card number here..." class="form-control input-sm" type="text" name="nic" id="nic" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Document (ID/Passport)</label>
                            <input type="file" class="hidden" id="userFile" accept="application/pdf, image/*" />
                            <div class="input-group input-group-sm">
                                <input type="text" id="fileHolder" readonly="readonly" class="form-control input-sm" placeholder="upload passport copy(.jpg,.png,.pdf)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="$('#userFile').click()">
                                        <i class="fa fa-file"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="proceed2" class="btn btn-multra btn-lg btn-block">Proceed <i class="fa fa-arrow-right"></i></button>

                </div>
            </form>
            <form class="form-horizontal" id="form2">
                <div id="step3" class="modal-body hidden">
                    <h3 class="text-center">Step 3</h3>
                    <h3 class="text-center"><label class="label label-multra">Contribution</label></h3>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Your ETH Wallet Adress</label>
                            <input required="" name="walletAddress" id="walletAddress" placeholder="Your ETH Wallet Adress" class="form-control input-sm" type="text" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Currency</label>
                            <br />
                            <label class="radio-inline">
                                <input checked="checked" required="" type="radio" name="Currency" id="ETH" value="ETH"> ETH
                            </label>
                            @*<label class="radio-inline">
                            <input required="" type="radio" name="Currency" id="BTC" value="BTC"> BTC
                        </label>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="control-label requiredLabel">Amount you want to send</label>
                            <input type="number" required="" id="amount" name="amount" class="form-control input-sm" placeholder="Amount to contribute">
                        </div>
                    </div>
                    <button type="button" class="btn btn-multra btn-lg btn-block" id="proceed3">Next <i class="fa fa-arrow-right"></i></button>

                </div>
            </form>
                <div id="step4" class="modal-body hidden">
                    <h4 class="text-center" id="finalDialog">Please wait... Processing</h4>
                    <div class="text-center">
                        <button type="submit" id="finishButton" class="btn btn-success btn-lg btn-block" data-dismiss="modal">Finish <i class="fa fa-arrow-up"></i></button>
                    </div>
                </div>
</div>

    </div>
</div>


