@{
    Layout = "~/Views/Shared/_LayoutFE.cshtml";
    var db = new Pumped.Models.PumpedEntities();
    var settings = db.Settings.FirstOrDefault();
    var soldPercentage = Math.Round(Convert.ToDecimal(settings.SoldTokens) / Convert.ToDecimal(settings.TotalTokens), 1) * 100;
}

<main role="main">
    <!-- Start About -->
    <section id="mu-about">
        <div class="moon">
            <img src="~/assets/images/moon.png" />
        </div>
        <div class="container-fluid" style="padding: 0">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h5>
                        Distributed MulTra Token<span class="hidden-sm hidden-xs"> (MTT) @settings.SoldTokens (@soldPercentage%) of @settings.TotalTokens (100%)</span>
                    </h5>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
                            <div class="progress" style="margin-top: 20px">

                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div style="" class="separator"></div>
                                    <div class="labels">0 M</div>
                                </div>

                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div class="separator" style="left: 21%;"></div>
                                    <div class="labels" style="left: 19%;">100 M</div>
                                </div>

                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div class="separator" style="left: 40%"></div>
                                    <div class="labels" style="left: 38%;">200 M</div>
                                </div>

                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div class="separator" style="left: 59.5%"></div>
                                    <div class="labels" style="left: 57%;">300 M</div>
                                </div>

                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div class="separator" style="left: 79%"></div>
                                    <div class="labels" style="left: 77%;">400 M</div>
                                </div>
                                <div style="width: 20px;" class="hidden-xs hidden-sm">
                                    <div class="separator" style="left: 98.2%"></div>
                                    <div class="labels" style="left: 95%;">500 M</div>
                                </div>

                                <div class="progress-bar gradient" role="progressbar" aria-valuenow="@soldPercentage"
                                     aria-valuemin="0" aria-valuemax="100" style="width: @soldPercentage%">
                                    <span class="hidden-lg hidden-md">@soldPercentage% Sold</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row mt-30">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="http://whitepaper.multra-gmbh.com" target="_blank" class="btn btn-multra text-uppercase pull-right btn-lg">Whitepaper</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <button data-toggle="modal" data-target="#myModal" class="btn btn-multra btn-lg text-uppercase pull-left">Participate</button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">

                    <div class="mu-about-area">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-left">
                                    <img class="" src="~/assets/images/about.png" alt="Men Speaker">
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="container mu-about-right tabelArea" style="color: #333333">
                                    <table style="" class="table table-responsive ">

                                        <tbody>
                                            <tr>
                                                <td>ITO STRAT DATE</td>
                                                <td>19.02.2018, 15:00 CET</td>
                                            </tr>
                                            <tr>
                                                <td>TOKEN NAME</td>
                                                <td>MulTra Token</td>
                                            </tr>
                                            <tr>
                                                <td>TOKEN SYMBOL</td>
                                                <td>MTT</td>
                                            </tr>
                                            <tr>
                                                <td>CROWDSALE SUPPLY</td>
                                                <td>500,000,000</td>
                                            </tr>
                                            <tr>
                                                <td class="text-uppercase">
                                                    Exchange Rate<br>
                                                    <small>(<span class="hidden-xs hidden-sm">for </span>first 200 
                                                        <span class="hidden-sm hidden-xs">million</span> <span class="hidden-md hidden-lg">M</span> <span class="hidden-xs hidden-sm">MTT</span>)</small>
                                                </td>
                                                <td>1ETH / 4000 MTT</td>
                                            </tr>
                                            <tr>
                                                <td class="text-uppercase">
                                                    Exchange Rate<br>
                                                    <small>(<span class="hidden-xs hidden-sm">for </span>remaining 300 <span class="hidden-sm hidden-xs">million</span> <span class="hidden-md hidden-lg">M</span> <span class="hidden-xs hidden-sm">MTT</span>)</small>
                                                </td>
                                                <td>1ETH / 2000 MTT</td>
                                            </tr>
                                            <tr>
                                                <td><span class="hidden-xs hidden-sm">MAX. </span>CROWDSALE CAP</td>
                                                <td>200k ETH / 500m MTT</td>
                                            </tr>
                                            <tr>
                                                <td>ACCEPTED <span class="hidden-xs hidden-sm">EQUIVALENTS</span></td>
                                                <td>ETH</td>
                                            </tr>
                                            <tr>
                                                <td>TOKEN PROTOCOL</td>
                                                <td>ETH, ERC20</td>
                                            </tr>
                                        </tbody>
                                    </table>



                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="https://etherscan.io/token/0x1a7b00404b755ff80126f1d66a90f5aedded25da" target="_blank" class="btn btn-multra text-uppercase pull-right btn-lg">ETHERSCAN</a>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <a href="http://participationguide.multra-gmbh.com" target="_blank" class="btn btn-multra btn-lg text-uppercase pull-left">ITO GUIDE</a>
                                    </div>
                                </div>

                                <br />
                            </div>
                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->
    <!-- Start Video -->
    <section id="mu-video">
        <div class="mu-video-overlay">
            <div class="container">
                <div class="row">
                    <!--<div class="col-md-4">
                        <div class="mu-video-area text-center">
                            <h2>Watch Previous Event Video</h2>
                            <a class="mu-video-play-btn" href="#">
                                <i class="fa fa-download" aria-hidden="true">
                                </i>
                            </a>
                        </div>
                    </div>-->

                    <div class="mu-video-area" style="color: white">
                        <div class="col-md-4 pull-left">
                            <h3 class="text-left">Download the Pumped MulTra Token Whitepaper!</h3>
                            <p class="text-justify">
                                This whitepaper is addressed to everyone who feels called to create a world in which people
                                only curate well investigated news and trustworthy quality media content eliminating fake news.
                                It offers passionate believers of decentralized democratizing innovations the opportunity to become part
                                of a community of society architects to design a new economy for content monetization which is respectful of
                                consumer choice, impactful for advertisers, sustainable for publishers and effective at scale.
                            </p>
                        </div>
                        <div class="col-md-2" style="margin-top: 31px;">
                            <img id="books" src="~/assets/images/books.png" />
                            <a target="_blank" href="http://whitepaper.multra-gmbh.com/" style="margin-top: 20px;margin-left: 31px;" class="btn btn-lg btn-outline">DOWNLOAD</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Video content -->

    </section>
    <!-- End Video -->
    <section id="mu-abouts">
        <div class="">

                    <div class="mu-about-area" style="padding-top: 100px;">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-left">
                                    <img style="" class="" src="~/assets/images/mobile.png" alt="Men Speaker">
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="container mu-about-right">
                                    <h3>The Pumped DApp empowers content and rewards consumers!</h3>
                                    <p class="text-justify">
                                        Pumped is a mobile app which educates new content consumption habits and expectations.
                                        Instead of communicating about content, Pumped enables users to communicate through content
                                        with two tabs. This brings a completely new culture of communication alive. Using the blockchain
                                        technology Pumped rewards content creators and curators with cryptocurrency.
                                        In analogy to social media Pumped can be referred as a new commercial media because
                                        Pumped pays the attention of news consumers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
    </section>


    <section id="mu-about-panther" style="">
        <div class="container-fluid" style="padding: 0">

            <div class="row">
                <div class="col-md-12">

                    <div class="mu-about-area">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="container mu-about-left">
                                    <h3>Pumped provides a decentralized economy for content monetization.</h3>
                                    <p class="text-justify">
                                        Pumped applies an interdisciplinary multi-layered process to design a new decentralized economy
                                        for content monetization based on lessons learned from behavioral economics. Consumers of online
                                        news content are gently nudged into the appreciation of quality news content by habituation of users
                                        towards well-investigated news from trustworthy sources. The Pumped Model can be plugged-in as a disruptive
                                        tool to the existing business model canvas of publishers to bring the content access value exchange into
                                        alignment.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-right">
                                    <img class="" src="~/assets/images/panther2.png" alt="Men Speaker">
                                </div>
                            </div>



                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-about-simple">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h1 class="text-center">MulTra Token</h1>
                    <p>
                        Creating and establishing a new tokenized content economy.
                    </p>
                    <p>
                        The MulTra Token is a digital unit of value creating a transactional economy be-tween content
                        consumers (curators) and content creators (publishers), bringing the content access value exchange
                        into alignment. As a unit of value exchange, MulTra Token incentivizes Pumped users with rewards,
                        distributing exclusive benefits and discounts of up to 100% for quality products and real-life services in collaboration with publishers.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-12">

                    <img src="~/assets/images/graph.png" />
                </div>
            </div>
        </div>
    </section>

    <!-- Start Video -->
    <section id="mu-video-playlist">
        <div class="video-playlist-overlay"></div>
        <div class="mu-video-overlay">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mu-video-area">
                            <h2>PLAY VIDEOS</h2>
                            <a class="mu-video-play-btn" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start Video content -->
        <div class="mu-video-content">
            <div class="mu-video-iframe-area">
                <a class="mu-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                <iframe width="854" height="480" src="https://www.youtube.com/embed/HMkScurzxfY?list=PL0Eq8CIcJZgIACR-vbSdi1QIB1ASUKdG1" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <!-- End Video content -->

    </section>
    <!-- End Video -->


    <section id="mu-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-speakers-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title">MulTra Team</h2>
                            <p>Is set up with the required professional expertise to succeed.</p>
                        </div>

                        <!-- Start Speakers Content -->

                        <div class="mu-speakers-content">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/1 onik mia.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Multi-awarded leader with the strong talent to catalyze disruptive innovations.
                                                Has excellent knowledge in blockchain technology,
                                                developed the Pumped Model, the Smart Contracts, and the Pumped App.
                                                Is dedicated to meet the expectations of investors. Developed products
                                                for many clients like <a href="http://www.samsung.com/" target="_blank">Samsung</a>, <a href="http://www.huawei.com/" target="_blank">Huawei</a>, <a href="https://www.sky.com/" target="_blank">Sky</a> and <a href="https://www.lenovo.com/" target="_blank">Lenovo</a>, ensuring measurable impact.
                                                Worked in the area of innovation and regulatory compliance at the German stock exchange <a href="http://deutsche-boerse.com/dbg-en/" target="_blank">Deutsche Börse</a>.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3>Onik Mia</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="https://linkedin.com/in/onikmia/"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/2 veronika tinnis.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Senior experienced executive with the talent to bring projects from vision to implementation.
                                                Has strong cross-industry expertise. Applies KaiZen Management.
                                                She is excellent in executing roadmaps with the required action to ensure that
                                                all crypto network token contributors profit in a timely manner.
                                                Took over interim management mandates in the field of Global Learning & Development
                                                for various clients like <a href="http://www.gsk.com/" target="_blank">GlaxoSmithKline</a>,
                                                <a href="https://www.jnj.com/" target="_blank">Johnson & Johnson</a>,
                                                <a href="https://www.dvag.com/">DVAG</a> and
                                                <a href="https://www.db.com/" target="_blank">Deutsche Bank</a>.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3>Veronika Tinnis</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="https://www.linkedin.com/in/veronikatinnis"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/3 deniz daskin.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Senior experienced executive with the talent to bring products
                                                from prototypes to profits. Has in-depth knowledge in IT,
                                                realizes solutions for difficult challenges and ensures that all
                                                blockchain security standards are met in technical terms.
                                                Worked for clients like
                                                <a href="https://www.zurich.com/" target="_blank">Zurich Insurance</a>,
                                                <a href="https://www.da-direkt.de/" target="_blank">DA Direkt</a>,
                                                <a href="https://www.forsa.com/1/" target="_blank">Forsa Market Research </a>
                                                and German public bank
                                                <a href="https://www.helaba.com/" target="_blank">Helaba</a>
                                                in the field of information technology,
                                                cyber security, server infrastructure, data privacy and implementation management.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Deniz Daskin</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="https://www.multra-gmbh.com/company/"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/4 thang nghiem.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Experienced manager with the discipline to scale through excellent user experience and efficiency.
                                                Has a strong tradition for innovation and executes strategies to make crypto network
                                                token work as valuable assets for crypto contributors. Manages DApp development in solidity.
                                                Worked for clients like
                                                <a target="_blank" href="http://www.bmw.com/">BMW</a>,
                                                <a target="_blank" href="https://www.avira.com/">Avira</a>,
                                                <a target="_blank" href="http://www.emigroup.com/">EMI Group</a> and
                                                <a href="https://www.sony.com/" target="_blank">Sony</a>.
                                                Has the know-how to provide
                                                high quality user experience with regard to apps and trustworthy assets to crypto token contributors.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">thang nghiem</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="https://www.multra-gmbh.com/company/"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/5 maximilian hein.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Experienced expert in Karmic Management. Co-Founder of YouTheir,
                                                a non-profit organization that supports social entrepreneurship in
                                                developing countries, with a focus on education and incubation.
                                                Worked as consultant at
                                                <a href="https://www.cliffordchance.com/" target="_blank">Clifford Chance</a>,
                                                <a target="_blank" href="https://www.weber.com/US/en">Weber-Stephen</a>
                                                and
                                                <a target="_blank" href="https://www.kienbaum.com/en/">Kienbaum</a>.
                                                Is experienced in the field of Lean Start-Up & New Business Model Development.
                                                In cooperation with
                                                <a target="_blank" href="http://cargohumancare.de/">Lufthansa Cargo Human Care</a>
                                                he conducted research in Kenya on Social Entrepreneurship.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">maximilian hein</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>@*<a href="#"><i class="fa fa-linkedin"></i></a>*@</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/6 q ladraa.jpg" class="img-responsive img-rounded image img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Founder of Qews Entertainment, focusing on early-stage companies at the intersection of tech, media and entertainment.
                                                Has the talent to meet trends and disrupt the status quo. Designed the Pumped App concept.
                                                Is experienced on user onboarding and brand building.
                                                His co-founded <a href="https://www.express.de/bonn/erfolg-in-den-usa--bonner--q--ladraa--vom-gntm-juror-zum-app-millionaer-24681768" target="_blank">App</a> was acquired for 20 million dollars in 2016.
                                                He built the brand <a target="_blank" href="https://www.edhardyoriginals.com/">Ed Hardy</a>, worked as a marketing executive at
                                                <a href="https://www.guess.eu/en" target="_blank">Guess </a>
                                                and as a jury member at <a href="https://www.prosieben.de/tv/germanys-next-topmodel" target="_blank">Germany's Next Top Model by Heidi Klum</a>.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">q ladraa</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/7 andreas riedel.jpg" class="img-responsive img-rounded image img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Founder of InRestruct, a company with focus on restructuring.
                                                Former CEO at German <a href="https://www.telekom.de/telekom-shops" target="_blank">Telekom</a>,
                                                <a href="https://www.metro.de/" target="_blank">Metro</a>,
                                                <a href="https://www.intershop.com/" target="_blank">Intershop</a>,
                                                <a href="https://wom.de/?lang=en" target="_blank">WOM</a>,
                                                <a href="http://www.us.schott.com/english/index.html?wss_setorigin=1&wss_iso=en-US" target="_blank">Schott Glas</a>,
                                                <a href="https://www.rosenthal.de/en/cms/" target="_blank">Rosenthal</a>,
                                                and
                                                <a href="https://www.careerslounge.com/" target="_blank">Carrier Lounge</a>.
                                                Has a proven track record to drive impactful
                                                performance in the service of consumers and investors.
                                                Can adopt his experience into the blockchain space.
                                                Is an advisory board member for business innovation at <a target="_blank" href="https://www.steinbeis.de/en/publications/transfer-magazine/transfer-012009/business-innovation-the-steinbeis-executive-magazine-b-i.html">Steinbeis</a>,
                                                board member of the Innovation Forge Berlin and a <a target="_blank" href="http://www.morethanshelters.org/eng/">morethanshelters</a> ambassador.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">andreas riedel</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                        <div class="mu-single-speakers mt-30 container-img">
                                            <img src="~/assets/images/team/8 wojtek madalski.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                            <div class="overlay">
                                                <div class="text">Experienced executive in the field of restructuring. Former President of Polish tel-ecom Netia, worked as manager for PepsiCo and as CEO for Wedel and Hortex. Has a strong track record in strengthening the market positions of international companies through excellent structuring. Can adopt his experience to the area of crypto assets in the service of institutional investors. Strategic lineup in the area of blockchain can benefit from his experiences from leadership in corporations.</div>
                                            </div>
                                            <div class="mu-single-speakers-info">
                                                <h3 class="text-capitalize">wojtek madalski</h3>
                                                @*<p>Digital Artist</p>
                                                <ul class="mu-single-speakers-social">
                                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>*@

                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/9 jo groebel.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Founder of
                                                <a target="_blank" href="http://deutsches-digital-institut.de/">Deutsches Digital Insitut</a>
                                                and pioneer of modern media psychology
                                                with a focus on digital media. Published 38 international books.
                                                Gave thousands of interviews in the
                                                <a href="https://www.nytimes.com/" target="_blank">New York Times</a>,
                                                <a href="https://www.wsj.com/" target="_blank">Wall Street Journal</a>,
                                                <a href="https://www.cam.ac.uk/" target="_blank">Cambridge</a>,
                                                <a href="http://www.ox.ac.uk/" target="_blank">Oxford</a>,
                                                <a href="http://www.lemonde.fr/" target="_blank">Le Monde</a>,
                                                <a href="http://www.zeit.de/" target="_blank">ZEIT</a>,
                                                <a href="http://www.faz.net/" target="_blank">FAZ</a>,
                                                <a href="http://www.spiegel.de/" target="_blank">Spiegel</a>,
                                                <a href="http://www.ard.de/" target="_blank">ARD</a>,
                                                <a href="http://www.zdf.de/" target="_blank">ZDF</a>,
                                                <a href="http://www.rtl.net/" target="_blank">RTL</a>,
                                                <a href="http://www.bbc.com/" target="_blank">BBC</a>and
                                                <a href="http://cnn.com/" target="_blank">CNN</a>.
                                                Lectured at
                                                <a href="http://www.ucla.edu/" target="_blank">UCLA</a>,
                                                <a href="https://www.harvard.edu/" target="_blank">Harvard</a>,
                                                <a href="http://www.columbia.edu/" target="_blank">Columbia</a> and
                                                <a href="https://www.yale.edu/" target="_blank">Yale</a>.
                                                Counselor for heads of states and CEOs of Fortune 500 companies like
                                                <a href="https://home.kpmg.com">KPMG</a>,
                                                <a href="https://www.ing.com/" target="_blank">ING Group</a>,
                                                <a href="http://www.nbcuniversal.com/" target="_blank">NBC Universal</a>,
                                                <a href="https://www.lufthansa.com/" target="_blank">Lufthansa</a>,
                                                <a href="https://www.bertelsmann.com/" target="_blank">Bertelsmann</a>and
                                                <a href="https://www.microsoft.com/" target="_blank">Microsoft</a>.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Prof. Dr. Jo Groebel</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/10 kay schanz.jpg" class="img-responsive img-rounded image  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                <p>
                                                    Founder of the law firm
                                                    <a href="http://www.schanz-law.de/handyindex.php?id=41"><span>Schanz &amp; Coll</span></a>. and the financing company
                                                    <a href="https://blog.lightfin.de/2017/12/13/icos-die-anwaelte-bringen-sich-in-stellung/"><span>LightFin</span></a>.
                                                    Former Managing Partner of <a href="https://www.hauck-aufhaeuser.com/investment-banking/corporate-finance">
                                                        <span>Hauck &amp; Aufh&auml;user Corporate Finance</span>
                                                    </a>. Advises companies, shareholders and management on VC &amp; PE financing, M&amp;A and IPOs. Manages all legal and regulatory compliance
                                                    inquiries of the ITO, including KYC and AML. Published standard books on IPOs at
                                                    <a href="https://rsw.beck.de/services"><span>C.H. Beck</span></a>. Lectured at
                                                    <a href="http://www.frankfurt-school.de/en/home.html"><span>Frankfurt School of Finance &amp; Management</span></a>
                                                    <span>&nbsp;</span>and <a href="http://www.sibfi.com/"><span>Shanghai International Bank &amp; Finance Institute</span></a>.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Dr. Kay-Michael Schanz</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/11 martin bartels.jpg" class="img-responsive image img-rounded  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                Senior executive with in-depth experience in the development of alternative investment products.
                                                Developed the concept of the blockchain smart contract in compliance with requirements of
                                                regulatory authorities, ensuring the utility character of the token. Worked prior in the area
                                                of asset management and advised in the field of primary markets for stocks, bonds and derivatives.
                                                Structured capital market transactions for industrial clients and state banks.
                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Dr. Martin Bartels</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/12 burkhard bonsels.jpg" class="img-responsive image img-rounded  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                <p>
                                                    Founder of Athanor Capital Partners with experience in PE and technology investments.
                                                    Worked for the <a href="https://www.bcg.com/"><span>Boston Consulting Group</span></a>,
                                                    co-founded a start-up in display technologies and accompanied an IPO of an online media agency.
                                                    Former managing partner of
                                                    <a href="http://www.bvkap.de/bvk/unsere-mitglieder/quadriga-capital-beteiligungsberatung-gmbh">
                                                        <span>Quadriga Capital</span>
                                                    </a><span>,</span> one of the most established mid-cap private equity players in Europe.
                                                    Has run a variety of transactions with a sector focus on consumer &amp; e-commerce,
                                                    education and software technology.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Dr. Burkhard Bonsels</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/13 uwe jorb.jpg" class="img-responsive image  img-rounded  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                <p>
                                                    Founder of the KaiZen Association Germany with a strong talent to introduce
                                                    innovations into real-world operations. Has a strong talent to connect blockchain
                                                    technology-based services with relevant value chains of traditional businesses.
                                                    Is highly experienced in B2B business development. Worked prior as CEO of
                                                    <a href="https://www.hofer-solutions.de/"><span>Hofer Solutions</span></a>. His clients include
                                                    <a href="https://www.bmw.com"><span>BMW</span></a><span>,&nbsp;</span>
                                                    <a href="http://www.audi.com/"><span>Audi</span></a><span>,&nbsp;</span>
                                                    <a href="http://www.audi.com/"><span>VW</span></a><span>,&nbsp;</span>
                                                    <a href="https://www.daimler.com/"><span>Daimler</span></a><span>,&nbsp;</span>
                                                    <a href="http://www.berlin-airport.de/de/index.php">
                                                        <span>Berlin Airport</span>
                                                    </a> and many more. Develops processes that allows blockchain technology to go mainstream.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">uwe jörß</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
                                    <div class="mu-single-speakers mt-30 container-img">
                                        <img src="~/assets/images/team/14 martin ledvinka.jpg" class="img-responsive image img-rounded  img-center" alt="speaker img">
                                        <div class="overlay">
                                            <div class="text">
                                                <p>
                                                    Founder of <a href="http://www.optimo-unternehmensentwicklung.de/"><span>Optimo Group</span></a>,
                                                    a company active in the areas of consulting, IT and investing. Co-Founder of the greentec startup
                                                    <a href="http://www.3r-systems.de/en/"><span>3R Systems</span></a>, engineering pyrolyse
                                                    plants and trading biochar-based products. Leading position within
                                                    <a href="https://frei-leben.org/"><span>VEREIN FREI LEBEN</span></a>,
                                                    a club for informing and training people about blockchain and cryptocurrencies.
                                                    Invested in several companies, startups and ICO-based organizations.
                                                    Has excellent knowledge to meet interests of&nbsp;investing ITO contributors.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">martin ledvinka</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li>
                                                    @*<a href="#"><i class="fa fa-linkedin"></i></a>*@
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-prefooter">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container" style="color: white">
                        <h1 class="text-center multra-heading">
                            <img style="width: 400px" src="~/assets/images/multra.png" />
                        </h1>
                        <h1>
                            DEVELOPED PUMPED AND IS THE MTT ISSUER
                        </h1>
                        <p>
                            MulTra GmbH, a company founded 2014, based in Frankfurt, Germany, realizes innovations with disrupting business models in new arising markets and meets trends at the right time to monetize them in the service of clients. The expertise, passion, spirit, and discipline of the MulTra Team create measurable impact by providing digital solutions that can be easily plugged into existing business models and enable clients to serve their consumers profitably with value-added services and products from their existing portfolio.
                        </p>

                        <br />
                        <div class="text-center center-align">
                            <a target="_blank" href="https://www.multra-gmbh.com/" class="btn btn-outline btn-lg text-uppercase pull-left">GO to MulTra GmbH</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-clients">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container">
                        <h1 class="text-uppercase">
                            our clients include
                        </h1>
                        <div class="">

                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/bmw.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/deutsche-bank.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/gsk.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/huawei.png" alt="speaker img">
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/johnson-n-johnson.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/lenovo.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/samsung.png" alt="speaker img">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <img src="~/assets/images/Clients/sky.png" alt="speaker img">
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br />
                        <h1>AS SEEN ON</h1>
                        <div class="">

                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Start single speaker -->
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <a target="_blank" href="https://www.entrepreneur.com/article/288491">
                                            <img src="~/assets/images/Clients/entrepren.png" alt="speaker img" />
                                        </a>
                                    </div>
                                    <div class="mu-single-speakers col-md-3 col-sm-6 col-xs-6 mb-40">
                                        <a target="_blank" href="https://www.huffingtonpost.com/shannon-ullman/why-you-should-finally-st_b_14083824.html">
                                            <img src="~/assets/images/Clients/huffpost.png" alt="speaker img" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sponsors -->


    <section id="mu-economy">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container">
                        <h3 class="text-center">Each achieved milestone from the whitepaper increases the MulTra Token value.</h3>
                        <p>
                            An increase in value of the MulTra Token is triggered by the number and interest of content
                            creators to run monetization campaigns on the Pumped App.
                            With the rise of the Pumped popularity, the attractiveness for Publishers to use the
                            Pumped App as a content aggregator and tool for monetization of their online content increases.
                            A monetization campaign can only be run by a deposit of MulTra Token that gets
                            distributed as economic incentives to consumers. This makes MTT a Utility Token that creates a
                            decentralized transactional economy that, in turn, ensures the stability of MulTra Token.
                            After the MulTra Initial Token Offering (ITO), MTT can only be traded by MulTra Token Holders via crypto exchanges.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">

                    <img id="birdImg" style="" src="~/assets/images/economy-bird.png" />
                </div>
                <div class="col-md-6">

                    <img id="graphImage" style="" src="~/assets/images/economy-graph.png" />
                </div>
            </div>
        </div>
    </section>



    <section id="mu-schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-schedule-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title text-capitalize">Road Map</h2>
                            <p>Users’ and Publishers’ feedback finalizes the Pumped DApp.</p>
                        </div>

                        <div class="mu-schedule-content-area">
                            <!-- Nav tabs -->
                            @*<ul class="nav nav-tabs mu-schedule-menu" role="tablist">
                                    <li role="presentation" class="active"><a href="#first-day" aria-controls="first-day" role="tab" data-toggle="tab">Road Map</a></li>
                                </ul>*@

                            <!-- Tab panes -->
                            <div class="tab-content mu-schedule-content">
                                <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="first-day">
                                    <ul>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/1 Pumped ITO.png" alt="event speaker">
                                                <p class="mu-event-time">Q1 2018</p>
                                                <h3>Initial Token Offering</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/2 Pumped Exchange Listing.png" alt="event speaker">
                                                <p class="mu-event-time">Q2 2018</p>
                                                <h3>Listing MTT on Exchanges</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/3 Pumped Beta App.png" alt="event speaker">
                                                <p class="mu-event-time">Q3 2018</p>
                                                <h3>Pumped App Beta Launch</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/4 Pumped Rewards Platform.png" alt="event speaker">
                                                <p class="mu-event-time">Q4 2018</p>
                                                <h3>Pumped Reward Platform</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/5 Pumped Residence.png" alt="event speaker">
                                                <p class="mu-event-time">Q1 2019</p>
                                                <h3>Pumped Residence Opening</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/6 Pumped DApp.png" alt="event speaker">
                                                <p class="mu-event-time">Q2 2019</p>
                                                <h3>Pumped DApp Public Launch</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/roadmap/7 Pumped Economy.png" alt="event speaker">
                                                <p class="mu-event-time">Q3 2019</p>
                                                <h3>Decentralized Content Economy</h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Contact -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">

                        @*<div class="mu-title-area">
                                <h3 class="mu-heading-title">Get in touch.</h3>

                            </div>*@

                        <!-- Start Contact Content -->
                        <div class="mu-contact-content text-center">

                            <div class="row">
                                <div class="col-md-12">
                                    <p><b>Information according to § 5 TMG</b></p>
                                    <img id="footer_logo" src="~/assets/images/MulTra-LOGO.png" alt="MulTra Logo" />
                                    <p class="mb-0">
                                        <i class="fa fa-location-arrow"></i>
                                        MulTra – Multiplex Transfer GmbH <br />
                                        Rüsselsheimer Str. 22 B <br />
                                        60326 Frankfurt am Main <br />
                                        Hessen, Germany
                                    </p>
                                    <p class="mb-0">
                                        <i class="fa fa-envelope"></i>
                                        contact@multra-gmbh.com
                                    </p>
                                    <p class="mb-0">
                                        <i class="fa fa-phone"></i>
                                        +49 (0) 69 – 668 199 199
                                    </p>
                                    <p class="mb-0">
                                        <i class="fa fa-building"></i>
                                        VAT-ID: DE 300 27 30

                                    </p>
                                    <p>
                                        <i class="fa fa-university"></i>
                                        Registry: HRB 101505

                                    </p>

                                </div>
                            </div>


                            <div class="row">

                                <div class="col-md-12">
                                    <footer id="mu-footer" role="contentinfo">
                                        <div class="container">
                                            <div class="mu-footer-area">
                                                <div class="mu-footer-top">
                                                    <div class="mu-social-media">
                                                        <a target="_blank" href="https://www.facebook.com/pumpedcrypto/"><i class="fa fa-facebook"></i></a>
                                                        <a target="_blank" href="https://www.linkedin.com/groups/8643398"><i class="fa fa-linkedin"></i></a>
                                                        <a target="_blank" href="https://t.me/joinchat/HNxDzhKsfgST0feSX5moZg"><i class="fa fa-paper-plane-o"></i></a>
                                                        <a target="_blank" href="https://www.reddit.com/user/Pumped-Crypto/"><i class="fa fa-reddit"></i></a>
                                                        <a target="_blank" href="https://twitter.com/PumpedCrypto"><i class="fa fa-twitter"></i></a>
                                                        <a target="_blank" href="https://medium.com/@("@")pumpedcrypto"><i class="fa fa-medium"></i></a>
                                                    </div>
                                                </div>
                                                <div class="mu-footer-bottom">
                                                    <p class="mu-copy-right">
                                                        &copy;2014 - 2018
                                                        <a rel="nofollow" target="_blank" href="https://www.multra-gmbh.com/imprint-legal-2/">
                                                            MulTra GmbH
                                                        </a>
                                                    </p>

                                                    <p class="mu-copy-right">
                                                        <a target="_blank" href="http://ito.multra-gmbh.com/">
                                                            Disclaimer |
                                                        </a>
                                                        <a target="_blank" href="http://ito.multra-gmbh.com/">
                                                            Token Offering Document |
                                                        </a>
                                                        <a target="_blank" href="http://ito.multra-gmbh.com/">
                                                            Terms & Conditions |
                                                        </a>
                                                        <a target="_blank" href="http://ito.multra-gmbh.com/">
                                                            Privacy Policy |
                                                        </a>
                                                        <a target="_blank" href="http://aml.multra-gmbh.com/">
                                                            AML Policy |
                                                        </a>
                                                        <a target="_blank" href="http://itoguide.multra-gmbh.com/">
                                                            Participation Guide
                                                        </a>

                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </footer>
                                </div>
                            </div>


                        </div>
                        <!-- End Contact Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->

</main>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#Male').select();
            $('#Male').select();
            $('#proceed').attr('disabled', 'disabled');
            $('#step1 input[type=checkbox]').on('change', function () {
                var checked = $('#step1 input[type=checkbox]:checked').length;
                var total = $('#step1 input[type=checkbox]').length;
                if (checked === total) {
                    $('#proceed').removeAttr('disabled');
                } else {
                    $('#proceed').attr('disabled', 'disabled');
                }
            });
            $('ul.timeline.timeline-horizontal .timeline-item.1 div').addClass('active');
            $('#proceed').on('click', function () {
                $('#step1').addClass('hidden');
                $('#step2').removeClass('hidden');
                $('#step2').fadeIn();
                $('ul.timeline.timeline-horizontal .timeline-item.2 div').addClass('active');
            });

            //$('#proceed2').on('click', processStep2);

            var form = $('#myform');
            form.on('submit', submit);
            var validator = form.validate({ // initialize the plugin
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    firstName: {
                        required: true
                    },
                    lastName: {
                        required: true
                    }, phone: {
                        required: true
                    }, Gender: {
                        required: true
                    }, Nationality: {
                        required: true
                    }, state: {
                        required: true
                    },nic: {
                        required: true
                    },
                }
            });

            var form2 = $('#form2');
            var validator2 = form2.validate({ // initialize the plugin
                rules: {
                    walletAddress: {
                        required: true
                    },
                    amount: {
                        required: true
                    }
                }
            });

            function submit(event) {
                if (!form.valid())
                    return false;
                $('#step2').addClass('hidden');
                $('#step3').removeClass('hidden');
                $('#step3').fadeIn();
                $('ul.timeline.timeline-horizontal .timeline-item.3 div').addClass('active');
                event.preventDefault();
                validator.resetForm();
                return false;
            }

            $('#proceed3').on('click',
                function () {
                    if (!form2.valid())
                        return false;
                    if (!$('#walletAddress').val() || !$('#amount').val())
                        return false;

                    var formFields = {
                        FirstName: $('#FirstName').val(),
                        LastName: $('#LastName').val(),
                        WalletAddress: $('#walletAddress').val(),
                        Email: $('#email').val(),
                        Nationality: $('#Nationality').val(),
                        Gender: $("input[name=Gender]:checked").val() === 'Male' ? 1 : 0,
                        PassportOrNIC: $('#FirstName').val(),
                        ContributionAmount: $('#amount').val(),
                        CurrencyType: $("input[name=Currency]:checked").val(),
                        Phone: $('#phone').val(),
                        State: $('#state').val(),
                    };
                    var formData = new FormData();
                    formData.append('data', JSON.stringify(formFields));
                    formData.append('file', $('#userFile')[0].files[0]);

                    $('#step3').fadeOut();
                    $('#step3').addClass('hidden');
                    $('#step4').removeClass('hidden');
                    $('#step4').fadeIn();
                    $('ul.timeline.timeline-horizontal .timeline-item.4 div').addClass('active');
                    $('#finishButton').attr('disabled', 'disabled');

                    setTimeout(function () {
                        $.ajax({
                            url: '/api/Contribute',
                            method: 'POST',
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            data: formData,
                            success: function (response) {
                                $('#finalDialog').html('Thank you for your Exchange Request in this ITO. <br/>' +
                                    'After our KYC and AML Compliance you will receive an invitation via email to submit an Exchange Offer and send your ETH.');
                                $('#finishButton').removeAttr('disabled');
                            },
                            error: function (err) {
                                $('#finalDialog').html('Something went wrong file processing your request.');
                                $('#finishButton').removeAttr('disabled');
                            },
                            complete: function (response) {
                                //setTimeout(function () { window.location.reload(); }, 3500);
                            }
                        });
                    }, 500);
                });

            $('#finishButton').on('click',
                function () {
                    window.location.reload();
                });

            $('#userFile').on('change', function () {
                var file = $('#userFile')[0].files[0];
                $('#fileHolder').val(file.name);
            });

            $('[data-target="#bs-example-navbar-collapse-1"]').on('click', function() {
                if (!$('.mu-navbar').hasClass('nav-bar-solid')) {
                    $('.mu-navbar').toggleClass('nav-bar-solid');
                    $('#nav-brandname').toggleClass('hidden');
                }
                
            });
        });
    </script>


}
