<main role="main">
    <!-- Start About -->
    <section id="mu-about" style="margin-top: 20px">
        <div class="container-fluid" style="padding: 0">
            <div class="row">

                <div class="col-md-12 text-center">
                    <h2>
                        Presale in progress
                    </h2>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <div class="progress" style="margin-top: 20px">
                                <div class="progress-bar gradient" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div class="mu-about-area">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-left">
                                    <img class="" src="~/assets/images/about.png" alt="Men Speaker">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="container mu-about-right" style="color: #495df5">
                                    <h2>ICO Details</h2>
                                    <p>ICO Start Date: <strong>01.01.2018</strong></p>
                                    <p>Round 1 Pre-Sale + 1 Single Round</p>
                                    <p>Token Name : <strong>MULTRA TOKEN</strong></p>
                                    <p>Token Symbol<strong>MTT</strong></p>
                                    <p>Total Token Supply: <strong>1.000.000.000 (1 billion)</strong></p>
                                    <p>CROWDSALE SUPPLY: <strong>500.000.000(500 million)</strong></p>
                                    <p>PRE-ICO ROUND VALUE: <strong>&euro; 0.05 (5 cents)</strong></p>
                                    <p>MAX CROWDSALE CAP: <strong>&euro; 65 MM (65 million)</strong></p>
                                    <p>ACCEPTED EQUIVALENTS BTC &amp; ETH</p>
                                    <p>TOKEN PROTOCOL: <strong>ETH, ERC20</strong></p>


                                    <p>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Participate</button>
                                        <button class="btn btn-primary">White Paper</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About -->
    <!-- Start Video -->
    <section id="mu-video">
        <div class="mu-video-overlay">
            <div class="container">
                <div class="row">
                    <!--<div class="col-md-4">
                        <div class="mu-video-area text-center">
                            <h2>Watch Previous Event Video</h2>
                            <a class="mu-video-play-btn" href="#">
                                <i class="fa fa-download" aria-hidden="true">
                                </i>
                            </a>
                        </div>
                    </div>-->

                    <div class="mu-video-area" style="color: white">
                        <div class="col-md-4">
                            <p>
                                Pumped is a mobile app which establishes new content consumption habits and expectations.
                            </p>
                            <p>Instead of communicating about content, pump enables users to communicate through contet with two clicks</p>
                            <p>
                                This brings a completely new culture of communication alive. Using the blockchain technology pumped rewards content creators and curators with cryptocurrency
                            </p>
                        </div>
                        <div class="col-md-2">
                            <img src="~/assets/images/books.png" />
                            <button style="margin-top: 20px" class="btn btn-lg btn-outline">DOWNLOAD</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Video content -->

    </section>
    <!-- End Video -->
    <section id="mu-abouts">
        <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <div class="mu-about-area">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-left">
                                    <img style="position: relative; bottom: 170px" class="" src="~/assets/images/mobile.png" alt="Men Speaker">
                                </div>
                            </div>


                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="container mu-about-right" style="color: #495df5">
                                    <h2>What is PUMPED ?</h2>
                                    <p>
                                        Pumped is fot content what instagram is for photography
                                    </p>
                                    <br />
                                    <br />
                                    <p>
                                        The business model of Pumped helps  content  creators to effectively  monetize their online content. They can easily plug in  pumped as disruptive tool to their own business model  canvas. Appling the shaped and unique concepts of pumped publishers meet the trend of content discovery  to secure their   profits of the future in a new digital era.
                                    </p>
                                    <p>
                                        The in-built  artificial intelligence  of pumped  hands consumers all the content they find interesting,personalized on a silver platter.  Pumped allows  content consumers to increase awareness on what they really  want to see while at the same time  delivering  them out of the  echo chamber of their own views as in the news feeds the social media.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="mu-about-panther">
        <div class="container-fluid" style="padding: 0">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-uppercase text-center" style="color: #495df5">pumped providing a new content economy</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <div class="mu-about-area">
                        <!-- Start Feature Content -->
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="container mu-about-left" style="color: #495df5">
                                    <h2>What is PUMPED ?</h2>
                                    <p>
                                        Pumped is fot content what instagram is for photography
                                    </p>
                                    <br />
                                    <br />
                                    <p>
                                        The business model of Pumped helps  content  creators to effectively  monetize their online content. They can easily plug in  pumped as disruptive tool to their own business model  canvas. Appling the shaped and unique concepts of pumped publishers meet the trend of content discovery  to secure their   profits of the future in a new digital era.
                                    </p>
                                    <p>
                                        The in-built  artificial intelligence  of pumped  hands consumers all the content they find interesting,personalized on a silver platter.  Pumped allows  content consumers to increase awareness on what they really  want to see while at the same time  delivering  them out of the  echo chamber of their own views as in the news feeds the social media.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="mu-about-right">
                                    <img style="height: 500px; float: right" class="" src="~/assets/images/panther.png" alt="Men Speaker">
                                </div>
                            </div>



                        </div>
                        <!-- End Feature Content -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-about-simple">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">

                    <h1 class="text-center">MULTRA TOKEN</h1>
                    <p>
                        <small>
                            Creating and establishing a new tokenized content economy.
                        </small>
                    </p>
                    <p>
                        The MulTra Token is a digital unit of value creating a transactional economy between content consumers (curators) and content creators (publishers) bringing the content access value exchange into alignment. As a unit of value exchange, MulTra Token incentivize Pumped users with rewards distributing exclusive benefits and discounts up to 100% for quality products and real life services in collaboration with publishers.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <img src="~/assets/images/graph.png" />
                </div>
            </div>
        </div>
    </section>


    <section id="mu-economy">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container">
                        <h1 class="text-center">PUMPED PROVIDING A NEW CONTENT ECONOMY</h1>
                        <p>
                            <small>
                                Pumped applies an interdisciplinary multi-layered process to design a new decentralized
                                economy for content monetization based on lessons learned from behavioral economics.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">

                    <img src="~/assets/images/economy-bird.png" />
                </div>
                <div class="col-md-6">

                    <img src="~/assets/images/economy-graph.png" />
                </div>
            </div>
        </div>
    </section>



    <section id="mu-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-speakers-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title">Our Team</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                        </div>

                        <!-- Start Speakers Content -->
                        <div class="mu-speakers-content">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/1 onik mia.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Onik Mia</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/2 veronika tinnis.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3>Veronika Tinnis</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/3 deniz daskin.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">Deniz Daskin</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/4 thang nghiem.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">thang nghiem</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/5 andreas riedel.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">andreas riedel</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/6 jo groebel.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">jo groebel</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/7 kay schanz.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">kay schanz</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/8 martin bartels.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">martin bartels</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/9 q ladraa.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">q ladraa</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/10 wojtek madalski.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">wojtek madalski</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/11 uwe jorb.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">uwe jörß</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/onik mia b.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">onik mia</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-6 col-lg-3">
                                    <div class="mu-single-speakers mt-30">
                                        <img src="~/assets/images/team/veronika tinnis b.jpg" class="img-responsive img-circle thumb-160 img-center" alt="speaker img">
                                        <div class="mu-single-speakers-info">
                                            <h3 class="text-capitalize">veronika tinnis</h3>
                                            @*<p>Digital Artist</p>*@
                                            <ul class="mu-single-speakers-social">
                                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-schedule-area">

                        <div class="mu-title-area">
                            <h2 class="mu-title">Road Map</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis unde, ut sapiente et voluptatum facilis consectetur incidunt provident asperiores at necessitatibus nulla sequi voluptas libero quasi explicabo veritatis minima porro.</p>
                        </div>

                        <div class="mu-schedule-content-area">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs mu-schedule-menu" role="tablist">
                                <li role="presentation" class="active"><a href="#first-day" aria-controls="first-day" role="tab" data-toggle="tab">Road Map</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content mu-schedule-content">
                                <div role="tabpanel" class="tab-pane fade mu-event-timeline in active" id="first-day">
                                    <ul>
                                        <li>
                                            <div class="mu-single-event">
                                                <p class="mu-event-time">9.00 AM</p>
                                                <h3>Breakfast</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/speaker-1.jpg" alt="event speaker">
                                                <p class="mu-event-time">10.00 AM</p>
                                                <h3>Advanced SVG Animations</h3>
                                                <span>By Karl Groves</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/speaker-1.jpg" alt="event speaker">
                                                <p class="mu-event-time">11.00 AM</p>
                                                <h3>Presenting Work with Confidence</h3>
                                                <span>By Sarah Dransner</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <img src="~/assets/images/speaker-1.jpg" alt="event speaker">
                                                <p class="mu-event-time">12.00 AM</p>
                                                <h3>Keynote on UX & UI Design</h3>
                                                <span>By Ned Stark</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="mu-single-event">
                                                <p class="mu-event-time">1.00 PM</p>
                                                <h3>The End</h3>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="mu-prefooter">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container" style="color: white">
                        <h1 class="text-center">
                            <img style="width: 400px" src="~/assets/images/multra.png" />
                        </h1>
                        <h1>
                            CREATED PUMPED APP BASED ON BLOCKHAIN
                        </h1>
                        <p>
                            MulTra GmbH based in Frankfurt,  Germany realizes innovations along with  disrupting business models in  new  arising markets and thus meets  upcoming  trends at the right  time to successfully monetize them in the  service of its clients. The  expertise,  passion,  spirit and discipline of the MulTra create measurable impact by  developing  digital solutions which can be easily plugged in  to existing business models and enables clients to profitably serve their consumers with  value-added services and products from their  existing  portfolio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="mu-clients">
        <div class="container-fluid" style="padding: 0">
            <div class="row">
                <div class="col-md-12 text-center">

                    <div class="container">
                        <h1 class="text-uppercase">
                            our clients include
                        </h1>
                        <div class="mu-speakers-content">

                            <div class="mu-speakers-slider">

                                <!-- Start single speaker -->
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/bmw.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/deutsche-bank.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/gsk.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/huawei.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/johnson-n-johnson.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/lenovo.png" alt="speaker img">
                                </div>
                                <div class="mu-single-speakers">
                                    <img src="~/assets/images/Clients/samsung.png" alt="speaker img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Sponsors -->
    <!-- Start Contact -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area">

                        <div class="mu-title-area">
                            <h2 class="mu-heading-title">Contact Us</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                        </div>

                        <!-- Start Contact Content -->
                        <div class="mu-contact-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="mu-contact-form-area">
                                        <div id="form-messages"></div>
                                        <form id="ajax-contact" method="post" action="#" class="mu-contact-form">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
                                            </div>
                                            <button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Contact Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->

</main>


@section scripts
{
    <script>
        $(document).ready(function () {

            $('#proceed').on('click', submitEmail);

            function submitEmail() {
                if (!$('#email').val()) {
                    $('#email').parent().addClass('has-feedback has-error');
                } else {
                    $('#email').parent().removeClass('has-feedback has-error');
                    $('#step1').addClass('hidden');
                    $('#step2').removeClass('hidden');
                    $('#step2').fadeIn();
                }

                return false;
            }

            $('#proceed2').on('click', function () {
                $('#step2').fadeOut();
                $('#step2').addClass('hidden');
                $('#step3').removeClass('hidden');
                $('#step3').fadeIn();
            });
        });
    </script>
}